<!-- BEGIN FOOTER -->
<footer id="footer">
  <div id="footer-main" class="container-large">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="widget widget-text">
          <h3 class="widget-title">Who are we?</h3>
          <img width="200" height="50" class="footer-logo" src="assets/img/logo/logo-light.png" alt="logo">
          <p>We are digital agency specialized in web design and modern style.</p>
          <p><i class="nc-icon-outline ui-1_home-minimal"></i> Pennsylvania Plaza, New York, NY 10119</p>
          <p><i class="nc-icon-outline ui-1_email-85"></i> <a href="mailto:support@themes-lab.com">support@themes-lab.com</a></p>
          <p><i class="nc-icon-outline tech_mobile"></i> <a href="tel:+1-888-541-7871" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Call us Now"> +1-888-541-7871</a></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 hidden-md-down">
        <div class="widget widget-links">
          <div class="widget-title">
            <h3 class="widget-title">Informations</h3>
          </div>
          <ul>
            <li>
              <a href="overview">Overview</a>
            </li>
            <li>
              <a href="overview">Features</a>
            </li>
            <li>
              <a href="overview">Layouts</a>
            </li>
            <li>
              <a href="_documentation/">Documentation</a>
            </li>
            <li>
              <a href="homepage-shop-snow">Ecommerce</a>
            </li>
            <li>
              <a href="terms-conditions">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 hidden-md-down">
        <div class="widget widget-twitter" data-count="6">
          <h3 class="widget-title">Latest Tweets</h3>
          <div class="tweets-list">
            <ul></ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 hidden-sm-down">
        <div class="widget widget-flickr flickr-demo" data-count="12" data-user="36587311@N08">
          <h3 class="widget-title">Flickr Photos</h3>
          <ul class="flickr-list">
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-1.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-2.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-3.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-9.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-10.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-11.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-12.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-13.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-14.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-15.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-16.jpg"></li>
            <li><img width="100" height="100" alt="flickr" src="assets/img/nature/small-17.jpg"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <div class="container-large">
      <div class="row">
        <div class="col-sm-12 t-center">
          <p class="copyright">© Themes Lab 2016. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->