<!-- BEGIN MAIN CONTENT -->
<div id="main-content">

  <!-- BEGIN PAGE TITLE -->
  <section id="page-title" class="page-title-full page-title-dark video-bg">
    <div class="video-wrapper">
      <video autoplay loop poster="assets/videos/Working-Space_cover.jpg">
        <source src="assets/videos/Working-Space.mp4" type="video/mp4">
      </video>
      <div class="video-overlay overlay-purple"></div>
    </div>
    <div class="container" data-0="transform:translateY(-0px);opacity:1;" data-600="transform:translateY(80px);opacity:0;">
      <div class="page-title-wrapper">
        <div class="page-title-txt">
          <h1 class="blast-text">We are a creative design agency, passionated about web technology.</h1>
          <a href="#" data-go-to="#section-two" class="btn btn-lg btn-link c-white m-t-40 go-next animated" data-animation="fadeIn" data-animation-delay="2800">Learn more</a>
        </div>
      </div>
    </div>
  </section>

  <section id="section-two" class="section half-section container m-t-60">
    <div class="text-element">
      <div class="text-element-wrapper p-l-0 p-t-0 animated" data-animation="fadeInUp" data-animation-delay="300">
        <div class="text-element-inner">
          <h2 class="m-b-50">Bring your next web project to live.</h2>
          <p>Institutions, Retail, Company, Personal website: it's essential to control your internet presence.</p>
          <p>Whether to help acquaint you to communicate on your products, your services, find new customers, develop sales, to offer new services or increase customer loyalty ... There are many reasons to create your website.</p>
          <a href="#" class="btn btn-hg btn-purple btn-bordered m-t-50">Creative Process</a>
        </div>
      </div>
    </div>
    <div class="p-t-70 animated" data-animation="fadeInUp" data-animation-delay="900">
      <img src="assets/img/mockups/laptop-floating.png" alt="laptop" data-parallax='{"y": -70, "smoothness": 30}'>
    </div>
  </section>

  <section class="section half-section container">
    <div class="p-t-60 animated" data-animation="fadeInUp" data-animation-delay="600">
      <img src="assets/img/mockups/mobile-floating.png"alt="mobile" data-parallax='{"y": -70, "smoothness": 30}'>
    </div>
    <div class="text-element">
      <div class="text-element-wrapper p-r-0 animated" data-animation="fadeInUp" data-animation-delay="300">
        <div class="text-element-inner">
          <h2 class="m-b-50">Differentiate yourself with a unique design.</h2>
          <p>The design is the first thing you people will see on your website.</p>
          <p>If it's attractive, the first impression will be positive. So you will be able to convert your visitors into leads and customers. Take into account the interactions of users and offer them a design that maximizes convertion when creating your website.</p>
          <a href="services-extended" class="btn btn-hg btn-purple btn-bordered m-t-50">Our Services</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section half-section container m-t-60">
    <div class="text-element">
      <div class="text-element-wrapper  p-l-0 p-t-0 animated" data-animation="fadeInUp" data-animation-delay="300">
        <div class="text-element-inner">
          <h2 class="m-b-50">More clients and income.</h2>
          <p>Being on the internet is no longer a subject of debate for businesses. The website is not only a global showcase but also a great communication tool, reputation, sales, trading and loyalty which you can not ignore the potential.</p>
          <p>Creating a website is not a cost but an investment that will differentiate you from others.</p>
          <div class="counter counter-lg">
            <div>
              <span class="countup t-left" data-from="0" data-to="30" data-speed="1000">30</span><span class="counter-suffix">%</span>
            </div>
            <p class="count-title t-left f-14">Additional incomes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-t-60 t-right animated" data-animation="fadeInUp" data-animation-delay="600">
      <img src="assets/img/mockups/ipad-floating.png" alt="tablet" data-parallax='{"y": -70, "smoothness": 30}'>
    </div>
  </section>

  <section class="section-call-to-action action-center action-lg bg-gray m-t-40">
    <div class="action-wrapper animated" data-animation="fadeInUp" data-animation-delay="600">
      <div class="action-text">
        <h2 class="action-title">Ready to create your new awesome website?</h2>
      </div>
      <div class="action-btn m-t-40">
        <a href="contact-map-fullscreen-2" class="btn btn-hg btn-purple btn-bordered icon-left-effect"><i class="nc-icon-outline ui-1_email-85"></i><span>Contact us</span></a>
      </div>
    </div>
  </section>

</div>