<p id="notice"><%= notice %></p>

<h1>Welcome home Homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="header-transparent">
  <div id="wrapper">
    <% render 'layouts/shared/nav' %>
  <%= render 'layouts/shared/header'%>
    <%= render 'layouts/shared/mainContent'%>
    <%= render 'layouts/shared/footer'%>
  </div>
  </tbody>
</table>

<br>


